<pep-show-if-badge [showIf]="configuration?.Slides[id].Filter?.Use && configuration?.Slides[id].Filter?.FilterObj"></pep-show-if-badge>
<pep-draggable-item titlePrefix="{{ id + 1 }}.&nbsp;" title="{{title}}" styleType="weak" [toggleContent]="true" 
[actionsMenu]="actionsMenu" [shadow]="false" titleClassNames="color-link" [isToggleContentOpen]="id ==  selectedSlideIndex?.toString()" 
(contentToggle)="onEditClick($event);" (actionsMenuItemClick)="onMenuItemClick($event)">
    <ng-container pep-toggle-content>
        <div> 
            <!-- Title -->
            <pep-checkbox class="checkbox-as-sub-title" [value]="configuration?.Slides[id].Title?.Use" [label]="'SLIDE_EDITOR.TITLE' | translate" [renderTitle]="false" 
                (valueChange)="onSlideFieldChange('Title.Use',$event)">
            </pep-checkbox>
            <pep-textbox [label]="'SLIDE_EDITOR.TITLE_CONTENT' | translate" type="string" 
                        [disabled]="!configuration?.Slides[id].Title?.Use" [value]="configuration?.Slides[id].Title?.Content" 
                        (valueChange)="onSlideFieldChange('Title.Content',$event)">
            </pep-textbox>
        </div>
        <div>
            <pep-group-buttons-settings 
                pepResetConfigurationField="Slides[{{id}}].Title.Size" [hideReset]="configuration?.Slides[id]?.Title?.Size === configurationSource?.Slides[id]?.Title?.Size"
                [resetHostEvents]="hostEvents"
                [groupType]="'sizes'" [subHeader]="'SLIDE_EDITOR.MAIN_TITLE_SIZE' | translate" 
                [btnKey]="configuration?.Slides[id].Title.Size" [excludeKeys]="['xs', '2xl']"
                (btnkeyChange)="onSlideFieldChange('Title.Size',$event)">
            </pep-group-buttons-settings>
            <pep-group-buttons-settings 
                [groupType]="'custom'" [subHeader]="'SLIDE_EDITOR.MAIN_TITLE_WEIGHT' | translate" [btnsArray]="TitleWeight"
                [disabled]="!configuration?.Slides[id].Title?.Use" [btnKey]="configuration?.Slides[id].Title.Weight">
            </pep-group-buttons-settings>
        </div>
        <div>
            <pep-textbox  type="real" class="pep-field-no-spacing"
                    pepResetConfigurationField="Slides[{{id}}].Title.MaxRowsNum" [hideReset]="configuration?.Slides[id]?.Title?.MaxRowsNum === configurationSource?.Slides[id]?.Title?.MaxRowsNum"
                    [resetHostEvents]="hostEvents"
                    [disabled]="!configuration?.Slides[id].Title?.Use" 
                    [value]="configuration?.Slides[id].Title?.MaxRowsNum || 2" 
                    [label]="'SLIDE_EDITOR.MAX_NUM_OF_LINES' | translate" 
                    (valueChange)="onSlideFieldChange('Title.MaxRowsNum',$event)">
            </pep-textbox>
            <div class="editor-separator"></div>
        </div>
        <div> <!--Sub Title -->
            <pep-checkbox class="checkbox-as-sub-title" [value]="configuration?.Slides[id].SubTitle.Use" [label]="'SLIDE_EDITOR.SUB_TITLE' | translate" [renderTitle]="false" 
                        (valueChange)="onSlideFieldChange('SubTitle.Use',$event)">
            </pep-checkbox>
            <pep-textarea [value]="configuration?.Slides[id].SubTitle.Content" [label]="'SLIDE_EDITOR.SUBTITLE_CONTENT' | translate" [disabled]="!configuration?.Slides[id].SubTitle.Use" 
                        rowSpan="2" (valueChange)="onSlideFieldChange('SubTitle.Content',$event)">
            </pep-textarea>
        </div>
        <div>
            <pep-group-buttons-settings 
                pepResetConfigurationField="Slides[{{id}}].SubTitle?.Size" [hideReset]="configuration.Slides[id]?.SubTitle?.Size === configurationSource?.Slides[id]?.SubTitle?.Size"
                [resetHostEvents]="hostEvents"
                [groupType]="'sizes'" [subHeader]="'SLIDE_EDITOR.SUB_TITLE_SIZE' | translate" [excludeKeys]="['xs','2xl']" (btnkeyChange)="onSlideFieldChange('SubTitle.Size',$event)"
                [disabled]="!configuration?.Slides[id].SubTitle.Use" [btnKey]="configuration?.Slides[id].SubTitle?.Size">
            </pep-group-buttons-settings>
            <pep-textbox type="real" class="pep-field-no-spacing"
                    pepResetConfigurationField="Slides[{{id}}].SubTitle.MaxRowsNum" [hideReset]="configuration?.Slides[id]?.SubTitle?.MaxRowsNum === configurationSource?.Slides[id]?.SubTitle?.MaxRowsNum"
                    [resetHostEvents]="hostEvents"
                    [disabled]="!configuration?.Slides[id].SubTitle?.Use" 
                    [value]="configuration?.Slides[id].SubTitle?.MaxRowsNum || 2" 
                    [label]="'SLIDE_EDITOR.MAX_NUM_OF_LINES' | translate" 
                    (valueChange)="onSlideFieldChange('SubTitle.MaxRowsNum',$event)">
            </pep-textbox>
            <div class="editor-separator"></div>
        </div>
        <div> <!-- Content -->
            <pep-group-buttons-settings
                pepResetConfigurationField="Slides[{{id}}].ContentWidth" [hideReset]="configuration.Slides[id]?.ContentWidth === configurationSource?.Slides[id]?.ContentWidth"
                titleSize="md"
                bold="false"
                [resetHostEvents]="hostEvents" 
                [groupType]="'custom'" [header]="'SLIDE_EDITOR.CONTENT' | translate" [subHeader]="'SLIDE_EDITOR.CONTENT_BLOCK_WIDTH' | translate" [btnsArray]="WidthSize"
                [btnKey]="configuration?.Slides[id].ContentWidth">
            </pep-group-buttons-settings>
            <pep-group-buttons-settings 
                [groupType]="'sizes'" [subHeader]="'SLIDESHOW.INNERSPACING_TITLE' | translate" [useNone]="true"
                [btnKey]="configuration?.Slides[id].InnerSpacing" [excludeKeys]="['lg','xl', '2xl']"
                (btnkeyChange)="onSlideFieldChange('InnerSpacing',$event)">
            </pep-group-buttons-settings>
        </div>
        <div>
            <pep-group-buttons-settings
                    pepResetConfigurationField="Slides[{{id}}].Alignment.Horizontal" [hideReset]="configuration?.Slides[id]?.Alignment.Horizontal === configurationSource?.Slides[id]?.Alignment?.Horizontal"
                    [resetHostEvents]="hostEvents" 
                    [groupType]="'horizontal-align'" [subHeader]="'SLIDE_EDITOR.HORIZONTAL_ALIGN' | translate"
                    [btnKey]="configuration?.Slides[id].Alignment?.Horizontal"
                    (btnkeyChange)="onSlideFieldChange('Alignment.Horizontal',$event)">
            </pep-group-buttons-settings>
            <pep-group-buttons-settings 
                        pepResetConfigurationField="Slides[{{id}}].Alignment.Vertical" [hideReset]="configuration?.Slides[id]?.Alignment?.Vertical === configurationSource?.Slides[id]?.Alignment?.Vertical"
                        [resetHostEvents]="hostEvents" 
                        [groupType]="'vertical-align'" [subHeader]="'SLIDE_EDITOR.VERTICAL_ALIGN' | translate"
                        [btnKey]="configuration?.Slides[id].Alignment?.Vertical"
                        (btnkeyChange)="onSlideFieldChange('Alignment.Vertical',$event)">
            </pep-group-buttons-settings>
            <pep-select [label]="'SLIDE_EDITOR.TEXT_COLOR_TITLE' | translate" [value]="configuration?.Slides[id].TextColor" [options]="textColors"
                        (valueChange)="onSlideFieldChange('TextColor',$event)" [emptyOption]="false" [disabled]="false">
            </pep-select>
        </div>
        <div class="editor-separator"></div>
        <div> <!-- Show If -->
            <pep-checkbox class="checkbox-as-sub-title" [value]="configuration?.Slides[id].Filter?.Use || false" [label]="'SLIDE_EDITOR.SLIDE_SHOW_IF' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('Filter.Use',$event)"></pep-checkbox>
            <pep-field-title [label]="'SLIDE_EDITOR.SLIDE_SHOW_IF_LOGIC_TITLE' | translate"></pep-field-title>
            <pep-button sizeType="md" 
                        sizeType="regular"
                        iconName="system_filter_2" 
                        [value]="'SLIDE_EDITOR.SLIDE_SHOW_IF_LOGIC' | translate"
                        (buttonClick)="openFilterBuilderModal($event)" 
                        [disabled]="!configuration?.Slides[id].Filter?.Use">
            </pep-button>
        </div>
        <div class="editor-separator"></div>
        <div> <!-- Flow -->
            <pep-checkbox class="checkbox-as-sub-title" [value]="configuration?.Slides[id].FirstButton.Use" [label]="'SLIDE_EDITOR.SLIDE_CHOOSE_FLOW' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('FirstButton.Use',$event)"></pep-checkbox>
            <pep-field-title [label]="'SLIDE_EDITOR.FLOW_ONCLICK_DESC' | translate"></pep-field-title>
            <pep-flow-picker-button [disabled]="!configuration?.Slides[id].FirstButton.Use" [flowHostObject]="flowHostObject" styleType="regular" (flowChange)="onFlowChange($event,'FirstButton')"></pep-flow-picker-button>
        </div>
        <div>
            <pep-textbox [label]="'SLIDE_EDITOR.ACTION_KEY' | translate" type="string" [disabled]="true" 
            [value]="configuration?.Slides[id].FirstButton.ButtonKey"></pep-textbox>
        </div>
        <div class="editor-separator"></div>
        <div>
            <!-- Button -->
            <label class="editor-sub-title">{{'SLIDE_EDITOR.BUTTON' | translate}}</label>
            <pep-textbox [label]="'SLIDE_EDITOR.LABEL' | translate" type="string" [value]="configuration?.Slides[id].FirstButton.Label" (valueChange)="onSlideFieldChange('FirstButton.Label',$event)"></pep-textbox>
        </div>
        <pep-select [label]="'SLIDE_EDITOR.BUTTON_STYLE' | translate" [value]="configuration?.Slides[id].FirstButton.Style" 
                    [options]="buttonStyle" (valueChange)="onSlideFieldChange('FirstButton.Style',$event)" [emptyOption]="false" 
                    styleType="weak">
        </pep-select>
        <div> 
            <pep-group-buttons-settings 
                    pepResetConfigurationField="Slides[{{id}}].Button.Size" [hideReset]="configuration?.Slides[id]?.Button?.Size === configurationSource?.Slides[id]?.Button?.Size"
                    [resetHostEvents]="hostEvents" 
                    [subHeader]="'SLIDE_EDITOR.BUTTON_SIZE' | translate"
                    [groupType]="'sizes'" [excludeKeys]="['xs', '2xl']" (btnkeyChange)="onSlideFieldChange('Button.Size',$event)"
                    [btnKey]="configuration?.Slides[id].Button?.Size">
            </pep-group-buttons-settings>
            <pep-select [label]="'SLIDE_EDITOR.BUTTON_COLOR_TITLE' | translate" [value]="configuration?.Slides[id].Button?.Color" class="pep-field-no-spacing"
                        [options]="buttonColor" (valueChange)="onSlideFieldChange('Button.Color',$event)" [emptyOption]="false" 
                        [disabled]="false" styleType="regular"></pep-select>
        </div>
        <div>
            <pep-group-buttons-settings 
                        pepResetConfigurationField="Slides[{{id}}].FirstButton.Visible" [hideReset]="configuration?.Slides[id]?.FirstButton?.Visible === configurationSource?.Slides[id]?.FirstButton?.Visible"
                        [resetHostEvents]="hostEvents" 
                        [subHeader]="'SLIDE_EDITOR.BUTTON_VISIBLE' | translate"
                        [groupType]="'boolean'"  (btnkeyChange)="onSlideFieldChange('FirstButton.Visible',$event)"
                        [btnKey]="configuration?.Slides[id].FirstButton.Visible">
            </pep-group-buttons-settings> 
            <span class="body-xs">{{'SLIDE_EDITOR.BUTTON_VIS_DESC' | translate}}</span>
            <div class="editor-separator"></div>
        </div>
        <div>
            <label class="editor-sub-title">{{'SLIDE_EDITOR.SLIDE_INTERACTIVITY' | translate}}</label>
            <pep-group-buttons-settings
                        pepResetConfigurationField="Slides[{{id}}].SlideInteractivity" [hideReset]="configuration?.Slides[id]?.SlideInteractivity === configurationSource?.Slides[id]?.SlideInteractivity"
                        [resetHostEvents]="hostEvents" 
                        [subHeader]="'SLIDE_EDITOR.INTERACTIVE_SLIDE' | translate"
                        [groupType]="'boolean'"  (btnkeyChange)="onSlideFieldChange('SlideInteractivity',$event)"
                        [btnKey]="configuration?.Slides[id].SlideInteractivity">
            </pep-group-buttons-settings> 
            <span class="body-xs">{{'SLIDE_EDITOR.SLIDE_INTER_DESC' | translate}}</span>
            <div class="editor-separator"></div>
        </div>
        <pep-color-settings titleSize="md" [title]="'SLIDE_EDITOR.GRADIENT_OVERLAY' | translate"
                            [checkAAComplient]="false"
                            [color]="configuration?.Slides[id].GradientOverlay"
                            (colorChange)="onSlideFieldChange('GradientOverlay',$event)">
        </pep-color-settings>
        <div class="editor-separator"></div>
        <pep-color-settings titleSize="md" [title]="'SLIDE_EDITOR.OVERLAY' | translate"
                            [checkAAComplient]="false"
                            [color]="configuration?.Slides[id].Overlay"
                            (colorChange)="onSlideFieldChange('Overlay',$event)">
        </pep-color-settings>
        <div class="editor-separator"></div>
        <div>
        <pep-checkbox class="checkbox-as-sub-title" [value]="configuration?.Slides[id].Image.Use" [label]="'SLIDE_EDITOR.IMAGE' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('Image.Use',$event)"></pep-checkbox>
            <assets-button [imageURL]="configuration?.Slides[id].Image?.AssetUrl"
                        [disabled]="!configuration?.Slides[id].Image.Use" 
                        (hostEvents)="onHostEvents($event);">
            </assets-button>
            <pep-slider
                pepResetConfigurationField="Slides[{{id}}].Image.HorizontalPosition" [hideReset]="configuration?.Slides[id]?.Image?.HorizontalPosition === configurationSource?.Slides[id]?.Image?.HorizontalPosition"
                [resetHostEvents]="hostEvents" 
                [label]="'SLIDE_EDITOR.IMAGE_HORIZONTAL_POSITION' | translate" 
                [hint]="configuration?.Slides[id].Image.HorizontalPosition?.toString()" 
                [minValue]="0" 
                [maxValue]="100"
                [disabled]="!configuration?.Slides[id].Image.Use" 
                [value]="configuration?.Slides[id].Image.HorizontalPosition"
                (valueChange)="onSlideFieldChange('Image.HorizontalPosition',$event)">
            </pep-slider>
            <pep-slider
                pepResetConfigurationField="Slides[{{id}}].Image.VerticalPosition" [hideReset]="configuration?.Slides[id]?.Image?.VerticalPosition === configurationSource?.Slides[id]?.Image?.VerticalPosition"
                [resetHostEvents]="hostEvents" 
                [label]="'SLIDE_EDITOR.IMAGE_VERTICAL_POSITION' | translate" 
                [hint]="configuration?.Slides[id].Image.VerticalPosition?.toString()" 
                [minValue]="0" 
                [maxValue]="100"
                [disabled]="!configuration?.Slides[id].Image.Use" 
                [value]="configuration?.Slides[id].Image.VerticalPosition"
                (valueChange)="onSlideFieldChange('Image.VerticalPosition',$event)">
            </pep-slider>
        </div>
    </ng-container>
</pep-draggable-item>

<ng-template #showIfDialogTemplate let-data>
    <pep-dialog [title]="'SLIDE_EDITOR.SHOW_IF_TITLE' | translate">
        <ng-container pep-dialog-content>
            <pep-query-builder [query]="data.query" [fields]="data.fields" (queryChange)="data.outputData.query=$event || ''"
                (formValidationChange)="data.isValid=$event">
            </pep-query-builder>            
        </ng-container>
        <ng-container pep-dialog-actions class="pepperi-border-top">
            <div class="flex pep-spacing-element-negative">
                <pep-button [value]="'ACTIONS.CANCEL' | translate" class="pep-spacing-element" (buttonClick)="showIfDialogRef.close(null)"></pep-button>
                <pep-button [value]="'ACTIONS.SAVE' | translate" class="pep-spacing-element" styleType="strong" [disabled]="!data.isValid" (buttonClick)="showIfDialogRef.close(data.outputData)"></pep-button>
            </div>
        </ng-container>
    </pep-dialog>
</ng-template>